
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 8%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2%;
}

.input-area {
  margin-bottom: 1%;
  width: 200px;
}

#button {
  width: 10%;
}

.display-area {
  margin-bottom: 10%;
}

.form-border {
  padding-bottom: 3%;
  border-bottom: 1px solid rgb(114, 107, 107);
}

li {
  margin-bottom: 10%;
  margin-left: 2%;
  list-style: none;
}
